@font-face {
  font-family: "roboto";
  src: url("public/fonts/roboto");
  font-family: "shrikhand";
  src: url("public/fonts/shrikhand");
}
body {
  font-family: "roboto";
  box-sizing: content-box;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  margin: auto;
  max-width: 480px;
}

p {
  margin: 0px;
  text-align: center;
  padding-bottom: 20px;
  font-family: "roboto";
}

h1 {
  margin: 0px;
  padding-top: 20px;
  padding-left: 15px;
  font-family: "shrikhand";
}

h2 {
  margin: 0px;
  padding-top: 20px;
  text-align: center;
  font-family: "roboto";
  font-size: 24px;
}

h3 {
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 25px;
  font-family: "roboto";
  font-size: 24px;
  font-weight: bold;
}

h4 {
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 25px;
  font-family: "shrikhand";
  font-size: 24px;
  font-weight: bold;
  padding-left: 15px;
}

h5 {
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-left: 15px;
  font-family: "roboto";
  font-weight: normal;
  font-size: 24px;
  border-bottom: 3px #99E2D0 solid;
  width: 10%;
  margin-left: 15px;
}

/* Header */
.logo {
  width: 50%;
  display: flex;
  justify-content: center;
  padding-left: 23%;
  padding-bottom: 20px;
}

/* Loc-Res */
.IconeLoc {
  padding-right: 5%;
  padding-top: 15px;
}

.Ville {
  padding-top: 15px;
  font-weight: bold;
}

.Localisation {
  display: flex;
  justify-content: center;
  background-color: #F9F9F9;
  background: #e0e0e0;
  height: 50px;
  border-top: 1px solid gray;
}

.Reservation {
  background-color: #F9F9F9;
  padding-bottom: 50px;
}

.Bouton {
  display: block;
  margin: auto;
  border-radius: 20px;
  height: 35px;
  border: none;
  font-family: "roboto";
  color: white;
  width: 40%;
  box-shadow: 1px 1px 4px gray;
  background-color: #C84FC2;
  height: 55px;
}

.TexteBoutonRecherche {
  font-size: 15px;
}

.CarteFonc {
  border-radius: 10px;
  background-color: #F9F9F9;
  box-shadow: 1px 1px 4px gray;
  display: flex;
  width: 98%;
  height: 70px;
  align-items: center;
  margin-bottom: 15px;
}

.NombreFonc {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #9356DC;
  color: white;
  background-color: #9356DC;
  border-radius: 50px;
  width: 20px;
  margin-right: 10%;
}

.CarteFonc:hover {
  background-color: #9356DC;
  background: #e4d5f6;
}

.IconeFonc {
  color: #9356DC;
  margin-right: 10%;
}

.TexteFonc {
  font-weight: bold;
  padding-left: 30px;
}

/*Restaurants*/
.Restaurants {
  padding-left: 10px;
  background-color: #F9F9F9;
  height: auto;
  padding-bottom: 50px;
  margin-top: 50px;
}

.CarteRestaurants {
  border-radius: 10px;
  background-color: #F9F9F9;
  box-shadow: 1px 1px 4px gray;
  max-width: 98%;
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.TexteSuperieur {
  position: absolute;
  z-index: 1;
  background: #99E2D0;
  text-align: center;
  margin: 0 auto;
  left: 70%;
  right: 0;
  top: 10%;
  color: #32b091;
  width: 20%;
}

.ImageRestaurants {
  flex-wrap: wrap;
  object-fit: cover;
  justify-self: center;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  height: 200px;
}

.TitreImage {
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 15px;
  display: block;
}

.IconeCoeur {
  display: block;
  color: black;
  float: right;
  padding-right: 20px;
  padding-top: 20px;
}
.IconeCoeur :hover {
  color: #9356DC;
}

.ImageTexte {
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 15px;
}

/*Footer*/
.Footer {
  background-color: #F9F9F9;
  background: #2d2d2d;
  color: white;
}
.Footer a {
  color: white;
}

.Icone-Texte-Footer {
  display: flex;
  color: white;
  padding-bottom: 10px;
  padding-left: 15px;
}

.IconeFooter {
  padding-right: 10px;
  width: 20px;
}

.TexteFooter {
  text-decoration: none;
  color: white;
}

.LienFooter {
  padding-bottom: 10px;
  color: white;
  padding-left: 15px;
}

/* Page des restaurants*/
.HeaderPages {
  display: flex;
}

.logo-titre {
  width: 100%;
}

.IconeArrow {
  padding-left: 50px;
  padding-top: 2%;
  font-size: 50px;
  display: flex;
}

.EnTetePhoto {
  display: block;
  margin: auto;
}

.ImageEnTete {
  flex-wrap: wrap;
  object-fit: cover;
  justify-self: center;
  width: 100%;
  height: 300px;
}

.ChoixMenu {
  background-color: #F9F9F9;
  padding-bottom: 100px;
  border-radius: 30px 30px 0px 0px;
  position: relative;
  top: -50px;
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  /* Firefox */
  -webkit-animation: fadein 4s;
  /* Safari et Chrome */
  -o-animation: fadein 4s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.IconeCoeurMenu {
  display: block;
  float: right;
  padding-right: 20px;
}
.IconeCoeurMenu :hover {
  background-color: #9356DC;
}

.TitreImage {
  width: 70%;
}

.PrixMenu {
  display: block;
  float: right;
  padding-right: 50px;
  font-weight: bold;
}

.CarteMenu {
  width: 93%;
  display: block;
  margin: auto;
  margin-top: 20px;
  border: 1px #F9F9F9 solid;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 4px gray;
  padding-bottom: 15px;
}

.IconeCheck {
  display: flex;
  align-items: center;
  float: right;
  color: #99E2D0;
  background-color: green;
  height: 100%;
  width: 20%;
}

.BoutonCommander {
  display: block;
  margin: auto;
  border-radius: 20px;
  height: 35px;
  border: none;
  font-family: "roboto";
  color: white;
  width: 40%;
  box-shadow: 1px 1px 4px gray;
  background-color: #C84FC2;
  margin-top: 50px;
  height: 55px;
}

.FooterPages {
  background-color: #F9F9F9;
  background: #2d2d2d;
  color: white;
  position: relative;
  top: -50px;
}
.FooterPages a {
  color: white;
}

.Icone-Texte-Footer {
  display: flex;
  color: white;
  padding-bottom: 10px;
  padding-left: 15px;
}

.IconeFooter {
  padding-right: 10px;
  width: 20px;
}

.TexteFooter {
  text-decoration: none;
  color: white;
}

.LienFooter {
  padding-bottom: 10px;
  color: white;
  padding-left: 15px;
}

@media all and (max-width: 2560px) {
  .container {
    max-width: 1200px;
  }

  .Bouton {
    margin-top: 10px;
  }

  .NombreFonc {
    margin-right: 33%;
  }

  .IconeFonc {
    margin-right: 5%;
  }

  .TexteFonc {
    padding-left: 30px;
  }

  .CarteRestaurants {
    margin-left: 7px;
  }
}
@media all and (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }

  .Bouton {
    margin-top: 10px;
  }
}
@media all and (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  .IconeArrow {
    font-size: 30px;
  }

  .Bouton {
    margin-top: 10px;
  }

  .CarteRestaurants {
    margin-left: 2px;
  }
}
@media all and (max-width: 480px) {
  .container {
    max-width: 480px;
  }

  .IconeArrow {
    font-size: 15px;
  }

  .NombreFonc {
    margin-right: 10%;
  }

  .IconeFonc {
    margin-right: 10%;
  }

  .TexteFonc {
    padding-left: 30px;
  }

  .CarteRestaurants {
    margin-left: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
