
@font-face { 
    font-family: "roboto" ; 
    src: url("/public/fonts/roboto/roboto-regular.ttf");
    font-family: "shrikhand" ; 
    src: url("/public/fonts/shrikhand/shrikhand-regular.ttf");
}

@import '_mixins.scss';
@import '_variables.scss';


    body{
        
        font-family: "roboto";
        box-sizing: content-box;
    }

    a{
        text-decoration: none;
        color: black;
    }
    .container{
        margin: auto;
        max-width: 480px;
    }

    p{
        margin: 0px;
        text-align: center;
        padding-bottom: 20px;
        font-family: "roboto";
    }

    h1{
        margin: 0px; 
        padding-top: 20px;
        padding-left: 15px;
        font-family: "shrikhand";
    }

    
    h2{
        margin: 0px; 
        padding-top: 20px;
        text-align: center;
        font-family: "roboto";
        font-size: 24px;
    }

    h3{
        margin: 0px;
        padding-top: 30px;
        padding-bottom: 25px;
        font-family: "roboto";
        font-size: 24px;
        font-weight: bold;
    }

    h4{
        margin: 0px;
        padding-top: 30px;
        padding-bottom: 25px;
        font-family: "shrikhand";
        font-size: 24px;
        font-weight: bold;
        padding-left: 15px;
        
    }

    h5{
        margin: 0px;
        padding-top: 30px;
        padding-bottom: 10px;
        margin-left: 15px;
        font-family: "roboto";
        font-weight: normal;
        font-size: 24px;
            @include H5Hover;
            
    }

    /* Header */

        .logo {
            @include logo;
            padding-left: 23%;
            padding-bottom: 20px;
        }

    /* Loc-Res */

        .IconeLoc {
            padding-right: 5%;
            padding-top: 15px;
        }
        .Ville{
            padding-top: 15px;
            font-weight: bold;
        }

        .Localisation{
            display: flex;
            justify-content: center;
            background-color:$couleur-gris-clair;
                    background: darken($couleur-gris-clair, $amount: 10%);
            height: 50px;
            border-top: 1px solid gray;
            

        }

        .Reservation{
            background-color:$couleur-gris-clair;          
            padding-bottom: 50px; 
        }

        .Bouton{
            @include Bouton;
            @include Shadow;
            background-color: #C84FC2;
            height: 55px
    
        }

        .TexteBoutonRecherche{
            font-size: 15px;
        }
    

        .CarteFonc{      
            @include Border;
            @include Shadow;
            display: flex;
            width: 98%;
            height: 70px;
            align-items: center;
            margin-bottom: 15px;
             
        }

        .NombreFonc{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px $couleur-violet;
            color: white;
            background-color: $couleur-violet;
            border-radius: 50px;
            width: 20px;
            margin-right: 10%;
           
        }

        .CarteFonc:hover{
            background-color: $couleur-violet;
            background: lighten($couleur-violet, $amount: 30%);
        }
        
        .IconeFonc{
            color: $couleur-violet;
            margin-right: 10%;
        }

        .TexteFonc{
            font-weight: bold;
            padding-left: 30px;
        }
       
 
    /*Restaurants*/

        .Restaurants{
            padding-left: 10px;
            background-color: $couleur-gris-clair;
            height: auto;
            padding-bottom: 50px;
            margin-top: 50px;
        }

        .CarteRestaurants{
            @include Border;
            @include Shadow;
            max-width: 98%;
            display: block;
            margin-bottom: 20px;
            position: relative;
           
        }

        .TexteSuperieur{
            position: absolute;
            z-index: 1;
            background: $couleur-vert-clair;
            text-align: center;
            margin: 0 auto;
            left: 70%;
            right: 0;
            top: 10%;
            color: darken($couleur-vert-clair, $amount: 30%);
            width: 20%;
            
        }

        .ImageRestaurants{
            flex-wrap: wrap;
            object-fit: cover;
            justify-self: center;
            width: 100%;
            border-radius: 10px 10px 0px 0px;
            height: 200px;
        }

        .TitreImage{
            font-size: 22px;
            font-weight: bold;
            padding-top: 10px;
            padding-left: 15px;
            display: block;
            
        }
        
        .IconeCoeur{
            display: block;
            color: black;
            float: right;
            padding-right: 20px;
            padding-top: 20px;
            
                & :hover{
                    background-color: $couleur-violet;
                    


                }
              
           
        }

        

        .ImageTexte{
            padding-bottom: 20px;
            padding-top: 10px;
            padding-left: 15px;
        }
    
    /*Footer*/

    .Footer{
        background-color:$couleur-gris-clair;
                background: darken($couleur-gris-clair, $amount: 80%);
        color: white;
        a{
            color: white;
        }
        
       
        
    }

    .Icone-Texte-Footer{
        display: flex;
        color: white;
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .IconeFooter{
        padding-right: 10px;
        width: 20px;
        
    }
    .TexteFooter{
        text-decoration: none;
        color: white;
        
    }

    .LienFooter{
        padding-bottom: 10px;
        color: white;
        padding-left: 15px;
    }


    /* Page des restaurants*/

    .HeaderPages{
        display: flex;
        
    }

    .logo-titre{
        width: 100%;
    }

    .IconeArrow{
        padding-left: 50px;
        padding-top: 2%;
        font-size: 50px;
        display: flex;

    }

    .EnTetePhoto{
        display: block;
        margin: auto;
      
      
    }

    .ImageEnTete{
        flex-wrap: wrap;
        object-fit: cover;
        justify-self: center;
        width: 100%;
        height: 300px;
       
        
    }

    .ChoixMenu{
        background-color: $couleur-gris-clair;
        padding-bottom: 100px;
        border-radius: 30px 30px 0px 0px;
        position: relative;
        top: -50px;
        
       

    }

    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* sur Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* sur Safari et Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
   
    .TitreCarte__CarteEntrees{
        text-transform: uppercase;
        animation: fadein 5s;
        -moz-animation: fadein 5s; /* Firefox */
        -webkit-animation: fadein 5s; /* Safari et Chrome */
        -o-animation: fadein 5s; /* Opera */
    }

    .TitreCarte__CartePlats{
        text-transform: uppercase;
        animation: fadein 10s;
        -moz-animation: fadein 10s; /* Firefox */
        -webkit-animation: fadein 10s; /* Safari et Chrome */
        -o-animation: fadein 10s; /* Opera */

    }


    .TitreCarte__CarteDesserts{
        text-transform: uppercase;
        animation: fadein 15s;
        -moz-animation: fadein 15s; /* Firefox */
        -webkit-animation: fadein 15s; /* Safari et Chrome */
        -o-animation: fadein 15s; /* Opera */
    }


    .IconeCoeurMenu{
        display: block;
            float: right;
            padding-right: 20px;
                & :hover{
                    color: $couleur-violet;
                }
    }

    .TitreMenu{
    
        font-size: 22px;
        font-weight: bold;
        padding-top: 10px;
        padding-left: 15px;
        display: flex;
        
       
    }

    .MenuTexte{
        grid-column: 1;
        grid-row: 2;
        padding-left: 15px;
        padding-bottom: 10px;
    }

   .PrixMenu{
        
        font-weight: bold;
        grid-row: 2;
        padding-left: 85%;
       
        
        
   }

   .CarteMenu{      
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 93%; 
        margin: auto;
        margin-top: 20px;
        border: 1px $couleur-gris-clair solid;
        border-radius: 10px;
        background-color: white;
        @include Shadow;
        cursor: pointer;
        overflow:hidden;
        

            .IconeCheck{
            
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            opacity: 0;
                    
               
            color: white;
            background-color: $couleur-vert-clair;
            width: 100%;
            grid-row: 1 /span 2;
            grid-column: 3;
            
           
            
           
            }
    
            @-webkit-keyframes slide-in-right {
                0% {
                  -webkit-transform: translateX(1000px);
                          transform: translateX(1000px);
                  opacity: 0;
                }
                100% {
                  -webkit-transform: translateX(0);
                          transform: translateX(0);
                  opacity: 1;
                }
              }
              @keyframes slide-in-right {
                0% {
                  -webkit-transform: translateX(1000px);
                          transform: translateX(1000px);
                  opacity: 0;
                }
                100% {
                  -webkit-transform: translateX(0);
                          transform: translateX(0);
                  opacity: 1;
                }
              }
              
        

       }

       .CarteMenu:hover > .IconeCheck {opacity: 1;
        -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }


    .fa-check-circle{
        -webkit-animation: tourne 4s;
        -moz-animation: tourne 4s;
        animation: tourne 4s;
      
    }

    @-webkit-keyframes tourne {
        0% {
          -webkit-transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
      @-moz-keyframes tourne {
        0% {
          -moz-transform: rotate(0deg);
        }
        100% {
          -moz-transform: rotate(360deg);
        }
      }
      @keyframes tourne {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
      
      
      
      @-webkit-keyframes tourne { 
              0%  {
               -webkit-transform: rotate(0deg);
              
              }
                                   
              
              100% {
            
              -webkit-transform: rotate(360deg);
              }
              }
          @-moz-keyframes tourne {
          0% {
           -moz-transform: rotate(0deg);
                                    }
                                    100% {
                                     
                                      -moz-transform: rotate(360deg);
                                    }
                                  }
                                  @keyframes tourne {
                                    0% {
                                      
                                      transform: rotate(0deg);
                                    }
                                    100% {
                                    
                                      transform: rotate(360deg);
                                    }
                                  }

    
   



   .BoutonCommander{
        @include Bouton;
        @include Shadow;
        background-color: #C84FC2;
        margin-top: 50px;
        height: 55px
   }
    


   .FooterPages{
    
        background-color:$couleur-gris-clair;
                background: darken($couleur-gris-clair, $amount: 80%);
        color: white;
        a{
            color: white;
        }
        
       position: relative;
       top: -50px;
        
    }

    .Icone-Texte-Footer{
        display: flex;
        color: white;
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .IconeFooter{
        padding-right: 10px;
        width: 20px;
        
    }
    .TexteFooter{
        text-decoration: none;
        color: white;
        
    }

    .LienFooter{
        padding-bottom: 10px;
        color: white;
        padding-left: 15px;
    }

   

   

   @media all and (max-width: 2560px){

    .container{
        max-width: 1200px;
    }

    .Bouton{
        margin-top: 10px;
    }

    .NombreFonc{
        margin-right: 33%;
    }

    .IconeFonc{
        margin-right: 5%;
    }

    .TexteFonc{
        padding-left: 30px;
    }
   

    .CarteRestaurants{
        margin-left: 7px;
    }

   }

   @media all and (max-width: 1440px){

    .container{
        max-width: 1200px;
    }

    .Bouton{
        margin-top: 10px;
       
    }

   }

   @media all and (max-width: 768px){

    .container{
        max-width: 768px;
    }

    .IconeArrow{
        
        font-size: 30px;

    }

    .Bouton{
        margin-top: 10px;

    }

    .CarteRestaurants{
        margin-left: 2px;
    }
    
   }

   @media all and (max-width: 480px){

    .container{
        max-width: 480px;
    }

    .IconeArrow{  
        font-size: 15px;
    }

    .NombreFonc{
        margin-right: 10%;
    }

    .IconeFonc{
        margin-right: 10%;
    }

    .TexteFonc{
        padding-left: 30px;
    }


    .CarteRestaurants{
        margin-left: 0px;
    }
   }