
@font-face { 
    font-family: "roboto" ; 
    src: url("public/fonts/roboto");
    font-family: "shrikhand" ; 
    src: url("public/fonts/shrikhand");
}

@import '_mixins.scss';
@import '_variables.scss';


    body{
        max-width: 480px;
        font-family: "roboto";
        box-sizing: content-box;
    }

    a{
        text-decoration: none;
        color: black;
    }
    .container{
        margin: auto;
    }

    p{
        margin: 0px;
        text-align: center;
        padding-bottom: 20px;
        font-family: "roboto";
    }

    h1{
        margin: 0px; 
        padding-top: 20px;
        padding-left: 15px;
        font-family: "shrikhand";
    }

    h2{
        margin: 0px; 
        padding-top: 20px;
        text-align: center;
        font-family: "roboto";
        font-size: 24px;
    }

    h3{
        margin: 0px;
        padding-top: 30px;
        padding-bottom: 25px;
        font-family: "roboto";
        font-size: 24px;
        font-weight: bold;
    }

    h4{
        margin: 0px;
        padding-top: 30px;
        padding-bottom: 25px;
        font-family: "shrikhand";
        font-size: 24px;
        font-weight: bold;
        
    }

    h5{
        margin: 0px;
        padding-top: 30px;
        padding-bottom: 10px;
        margin-left: 15px;
        font-family: "roboto";
        font-weight: normal;
        font-size: 24px;
            @include H5Hover;
            
    }

    /* Header */

        .logo {
            @include logo;
            padding-bottom: 20px;
            padding-left: 25%;
            
        }

    /* Loc-Res */

        .IconeLoc {
            padding-right: 5%;
            padding-top: 15px;
        }
        .Ville{
            padding-top: 15px;
            font-weight: bold;
        }

        .Localisation{
            display: flex;
            justify-content: center;
            background-color:$couleur-gris-clair;
                    background: darken($couleur-gris-clair, $amount: 10%);
            height: 50px;
            border-top: 1px solid gray;
            

        }

        .Reservation{
            background-color:$couleur-gris-clair;          
            padding-bottom: 50px; 
        }

        .Bouton{
            @include Bouton;
            @include Shadow;
            background-color: #C84FC2;
        }

        .CarteFonc{      
            @include Border;
            @include Shadow;
            display: flex;
            width: 98%;
            height: 70px;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
                
        }

        .CarteFonc:hover{
            background-color: $couleur-violet;
            background: lighten($couleur-violet, $amount: 30%);
        }
        

        .TexteFonc{
            font-weight: bold;
            padding-left: 30px;
        }
       
 
    /*Restaurants*/

        .Restaurants{
            padding-left: 10px;
            background-color: $couleur-gris-clair;
            height: auto;
            padding-bottom: 50px;
            margin-top: 50px;
        }

        .CarteRestaurants{
            @include Border;
            @include Shadow;
            max-width: 98%;
            display: block;
            margin-bottom: 20px;
           
            
        }

        .ImageRestaurants{
            flex-wrap: wrap;
            object-fit: cover;
            justify-self: center;
            width: 100%;
            border-radius: 10px 10px 0px 0px;
            height: 200px;
        }

        .TitreImage{
            font-size: 22px;
            font-weight: bold;
            padding-top: 10px;
            padding-left: 15px;
            display: block;
            
        }

        .IconeCoeur{
            display: block;
            float: right;
            padding-right: 20px;
            padding-top: 20px;
                & :hover{
                    background-color: $couleur-violet;
                }
              
           
        }

        

        .ImageTexte{
            padding-bottom: 20px;
            padding-top: 10px;
            padding-left: 15px;
        }
    
    /*Footer*/

    .Footer{
        background-color:$couleur-gris-clair;
                background: darken($couleur-gris-clair, $amount: 80%);
        color: white;
        padding-left: 15px;
        a{
            color: white;
        }
    }

    .Icone-Texte-Footer{
        display: flex;
        color: white;
        padding-bottom: 10px;
    }

    .IconeFooter{
        padding-right: 10px;
        width: 20px;
    }
    .TexteFooter{
        text-decoration: none;
        color: white;
    }

    .LienFooter{
        padding-bottom: 10px;
        color: white;
    }


    /* Page des restaurants*/

    .ImageEnTete{
        flex-wrap: wrap;
        object-fit: cover;
        justify-self: center;
        width: 100%;
        height: 300px;
    }

    .ChoixMenu{
        background-color: $couleur-gris-clair;
        padding-bottom: 100px;
        border-radius: 30px 30px 0px 0px;
    }


    .IconeCoeurMenu{
        display: block;
            float: right;
            padding-right: 20px;
                & :hover{
                    background-color: $couleur-violet;
                }
    }

   .PrixMenu{
        display: block;
        float: right;
        padding-right: 20px;
        font-weight: bold;
        
   }

   .CarteMenu{
        width: 93%;
        display: block;
        margin: auto;
        margin-top: 20px;
        border: 1px $couleur-gris-clair solid;
        border-radius: 10px;
        background-color: white;
        @include Shadow;
        padding-bottom: 15px;
        
   }

   .BoutonCommander{
    @include Bouton;
    @include Shadow;
    background-color: #C84FC2;
    margin-top: 50px;
   }