 /* header Page des restaurants*/

 .header-pages{
    display: flex;
}

.header__logo{
    width: 100%;
}

.logo--restaurants{
    @include logo;
        padding-left: 23%;
        padding-bottom: 20px;
        padding-top: 1%;
}

.header__arrow{
    padding-left: 50px;
    padding-top: 3%;
    font-size: 50px;
    display: flex;
}


/* image en tete */

.en-tete__photo{
    display: block;
    margin: auto;
}

.en-tete__image{
    flex-wrap: wrap;
    object-fit: cover;
    justify-self: center;
    width: 100%;
    height: 300px;
}

/* choix des menus */

.choix-menu{
    background-color: $couleur-gris-clair;
    padding-bottom: 100px;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    top: -50px;
}

.titre-carte__carte-entrees{
    text-transform: uppercase;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari et Chrome */
    -o-animation: fadein 5s; /* Opera */
}    

.titre-carte__carte-plats{
    text-transform: uppercase;
    animation: fadein 10s;
    -moz-animation: fadein 10s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari et Chrome */
    -o-animation: fadein 10s; /* Opera */

}


.titre-carte__carte-desserts{
    text-transform: uppercase;
    animation: fadein 15s;
    -moz-animation: fadein 15s; /* Firefox */
    -webkit-animation: fadein 15s; /* Safari et Chrome */
    -o-animation: fadein 15s; /* Opera */
}

.carte-menu__menu{
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
    text-overflow: ellipsis;
    position: relative; 
    cursor: pointer;
    overflow: hidden;
    align-items: center;   
}

.carte-menu__texte{
    display: block;
    justify-content: space-between;
    padding-left: 15px;
    padding-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.carte-menu__prix{
    font-weight: bold;
    display: flex;
    text-overflow: ellipsis;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 0;
    left: 85%;
    width: 20%;
    height: 100%;
}
