 /* choix des menus */

 .choix-menu{
    background-color: $couleur-gris-clair;
    padding-bottom: 100px;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    top: -50px;
  
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.titre-carte__carte-entrees{
    text-transform: uppercase;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari et Chrome */
    -o-animation: fadein 5s; /* Opera */
}    

.titre-carte__carte-plats{
    text-transform: uppercase;
    animation: fadein 10s;
    -moz-animation: fadein 10s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari et Chrome */
    -o-animation: fadein 10s; /* Opera */

}


.titre-carte__carte-desserts{
    text-transform: uppercase;
    animation: fadein 15s;
    -moz-animation: fadein 15s; /* Firefox */
    -webkit-animation: fadein 15s; /* Safari et Chrome */
    -o-animation: fadein 15s; /* Opera */
}

.coeur-animer--restau .coeur-acceuil--restau{
    position: absolute;
        margin-top: -16px;
        left: 90%;
        transform: translate(-50%,-50%);
        transition: opacity 1s ease-in;
}

.coeur-animer--restau .restaurants__icone-coeur {
    opacity: 1;     
}

.restaurants__icone-coeur--hover{
    color: $couleur-bouton;
    opacity: 0;
}





.coeur-animer--restau:hover .restaurants__icone-coeur{
    opacity: 0;
}

.coeur-animer--restau:hover .restaurants__icone-coeur--hover{
    opacity: 1;
}
    


.carte-menu__menu{

    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
    text-overflow: ellipsis;
    position: relative;
    
    
   
    cursor: pointer;
    overflow: hidden;
    align-items: center;
    
    
    
    
    
    
}

.carte-menu__texte{
  display: block;
  justify-content: space-between;
  padding-left: 15px;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.carte-menu__prix{
  
  font-weight: bold;
 
  display: flex;
  
  text-overflow: ellipsis;
  align-items: center;
  justify-content: center;
  position:absolute;
  top: 0;
  left: 85%;
  width: 20%;
  height: 100%;
}

.carte-menu:hover> .carte-menu__prix {opacity: 1;
  visibility: visible;
  transition: all .5s ease-in;
  transform: translateX(-100%);
}


.carte-menu{      
    display: block;
    margin: auto;
    width: 99%; 
   position: relative;
   align-items: center;
    margin-top: 20px;
    border: 1px $couleur-gris-clair solid;
    border-radius: 10px;
    background-color: white;
    @include Shadow;
    cursor: pointer;
    overflow:hidden;
    text-overflow: ellipsis;
    text-transform: none;
    
    
        .carte-menu__icone-check{ 
        display: flex;
        align-items: center;
        justify-content: center;
        position:absolute;
        top: 0;
        left: 100%;
        width: 20%;
        height: 100%;
        border-radius: 10px;
        opacity: 0;    
        color: white;
        background-color: $couleur-vert-clair;
              
        
       
        }
}

.carte-menu:hover> .carte-menu__icone-check 
    {opacity: 1;
    visibility: visible;
    transition: all .5s ease-in;
    transform: translateX(-100%);
            & .fa-check-circle{
              -webkit-animation: tourne 2s ;
              -moz-animation: tourne 2s ;
              animation: tourne 2s ; }
    }






@-webkit-keyframes tourne {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes tourne {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @keyframes tourne {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes tourne { 
          0%  {
           -webkit-transform: rotate(0deg);
          
          }
                               
          
          100% {
        
          -webkit-transform: rotate(360deg);
          }
          }
      @-moz-keyframes tourne {
      0% {
       -moz-transform: rotate(0deg);
                                }
                                100% {
                                 
                                  -moz-transform: rotate(360deg);
                                }
                              }
                              @keyframes tourne {
                                0% {
                                  
                                  transform: rotate(0deg);
                                }
                                100% {
                                
                                  transform: rotate(360deg);
                                }
                              }

.bouton-commander{
    @include Bouton;
    @include Shadow;
    background-color: #FF3CAC;
    background-image: linear-gradient(174deg, #FF3CAC 0%, #784BA0 90%, #b72bc5 100%);
    margin-top: 50px;
    height: 55px
}

.bouton-commander:hover{
background: lighten($couleur-bouton, $amount: 5%);
box-shadow: 1px 1px 12px gray;
}
