 /* header Page des restaurants*/

 .header-pages{
    display: flex;
}

.header__logo{
    width: 100%;
}

.logo--restaurants{
    @include logo;
        padding-left: 23%;
        padding-bottom: 20px;
        padding-top: 1%;
}

.header__arrow{
    padding-left: 50px;
    padding-top: 3%;
    font-size: 50px;
    display: flex;

}
