/* image en tete */

.en-tete__photo{
    display: block;
    margin: auto;
}

.en-tete__image{
    flex-wrap: wrap;
    object-fit: cover;
    justify-self: center;
    width: 100%;
    height: 300px;
}
