/* animation ecran d'acceuil */ 

@-webkit-keyframes fadeOutDown {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  }
  @keyframes fadeOutDown {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  }
  

/* animation loader */ 

@keyframes spin{
    0%{
        transform: rotate(0deg);
        opacity: 0;
    }

    100%{
        transform: rotate(360deg);
        opacity: 1;
    }
  }

  /* animation fondu d'apparition */ 

  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
  /* animation rotation icone */ 

  @-webkit-keyframes tourne {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes tourne {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @keyframes tourne {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes tourne { 
          0%  {
           -webkit-transform: rotate(0deg);
          
          }
                               
          
          100% {
        
          -webkit-transform: rotate(360deg);
          }
          }
      @-moz-keyframes tourne {
      0% {
       -moz-transform: rotate(0deg);
                                }
                                100% {
                                 
                                  -moz-transform: rotate(360deg);
                                }
                              }
                              @keyframes tourne {
                                0% {
                                  
                                  transform: rotate(0deg);
                                }
                                100% {
                                
                                  transform: rotate(360deg);
                                }
                              }
