@font-face { 
    font-family: "roboto" ; 
    src: url("../fonts/roboto/roboto-regular.ttf");
}
   

@font-face {  
    font-family: "shrikhand" ; 
    src: url("../fonts/shrikhand/shrikhand-regular.ttf");
}