.fonctionnement{
    position: relative;
    z-index: 1;
}
.carte-fonc{      
    @include Border;
    @include Shadow;
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    margin-bottom: 15px;
     
}

.carte-fonc__nombre{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px $couleur-violet;
    color: white;
    background-color: $couleur-violet;
    border-radius: 50px;
    width: 20px;
    margin-right: 10%;
   
}

.carte-fonc:hover{
    background-color: $couleur-violet;
    background: lighten($couleur-violet, $amount: 30%);
}

.carte-fonc:hover > .carte-fonc__icone{
    color:$couleur-violet;
}

.carte-fonc__icone{
    color:black;
    margin-right: 10%;
        
}

.carte-fonc__texte{
    font-weight: bold;
    padding-left: 30px;
}