/* Header */
        
.logo-titre{
    @include logo;
    padding-bottom: 20px;
    
}



.logo {
    max-width: 100%;
    position: relative;
    z-index: 1;
}


/* header Page des restaurants*/

.header-pages{
    padding-bottom: 20px;
    padding-top: 20px;
    
}

.header__logo{
    @include logo;
    
}

.header__arrow{

    position: absolute;

    padding-top: 10px;
    
}
