/* Header */
        
.logo-titre{
    @include logo;
    padding-bottom: 20px;
}



.logo {
   
    position: relative;
    z-index: 1;
}


/* header Page des restaurants*/

.header-pages{
    padding-bottom: 20px
}

.header__logo{
    @include logo;
}

.logo--restaurants{
    
       
}

.header__arrow{
    font-size: 40px;
    position: absolute;
    padding-left: 100px;
    padding-top: 10px;
    
}
