/*Restaurants*/

.restaurants{
    padding-left: 10px;
    background-color: $couleur-gris-clair;
    height: auto;
    padding-bottom: 50px;
    margin-top: 50px;
    box-sizing: border-box;
    display: grid;
   grid-template-rows: 100px 2fr 2fr;
   grid-template-columns: 1fr 1fr;
}

.restaurants__carte{
    @include Border;
    @include Shadow;
    max-width: 98%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari et Chrome */
    -o-animation: fadein 5s; /* Opera */
   
}

.restau1 {
    grid-row: 2;
    grid-column: 1;
    
}

.restau2 {
    grid-row: 2;
    grid-column: 2;
   
}

.restau3{
    grid-row: 3;
    grid-column: 1;
   
}

.restau4{
    grid-row: 3;
    grid-column: 2;
   
}

.restaurants__badge{
    position: absolute;
    z-index: 1;
    background: $couleur-vert-clair;
    text-align: center;
    margin: 0 auto;
    left: 70%;
    right: 0;
    top: 10%;
    color: darken($couleur-vert-clair, $amount: 30%);
    width: 20%;
     

}

.restaurants__images{
    flex-wrap: wrap;
    object-fit: cover;
    justify-self: center;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 200px;
}

.restaurants__nom{
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px;
    display: block;   
}


.coeur-animer{

    display: block;
    position: relative;

}

.coeur-animer .coeur-acceuil{
    position: absolute;
    margin-top: 30px;
    left: 90%;
    transform: translate(-50%,-50%);
    transition: opacity 1s ease-in;

}


.coeur-animer .restaurants__icone-coeur {
    opacity: 1;     
}

.restaurants__icone-coeur--hover{
    color: $couleur-bouton;
    opacity: 0;
}





.coeur-animer:hover .restaurants__icone-coeur{
    opacity: 0;
}

.coeur-animer:hover .restaurants__icone-coeur--hover{
    opacity: 1;
}



.restaurants__lieu{
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 15px;
}

.attente{
   z-index: 1;
   position: absolute;
background-color: black;
width: 100%;
height: 100%;
z-index: 0;
top: 0;
right: 0;
bottom: 0;
left: 0;
opacity: 0;
-webkit-animation: bg-pan-left 3s 1 both ;
animation: bg-pan-left 3s 1 both ;
}

@-webkit-keyframes bg-pan-left {
    0% {
      background-position: 100% 50%;
      opacity: 1;
    }
    100% {
      background-position: 0% 50%;
      opacity: 0;
    }
  }
  @keyframes bg-pan-left {
    0% {
      background-position: 100% 50%;
      opacity: 1;
    }
    100% {
      background-position: 0% 50%;
      opacity: 0;
    }
  }
  


.loader{
    border: 5px solid black;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    animation-iteration-count: 2;
    margin: auto;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 10px;
    left: 0;
    opacity: 0;
margin-top: 100px;
    
 }

@keyframes spin{
          0%{
              transform: rotate(0deg);
              opacity: 0;
          }

          100%{
              transform: rotate(360deg);
              opacity: 1;
          }
        }



